<%= form_for [@review, @comment] do |f| %>
  <div class="form-group">
    <strong><%= f.label :content %></strong>
    <%= f.text_area :content, rows: '10', class: "form-control" %>
  </div>
    <%= f.submit %>
<% end %>
